/* CSS General custom style configuration */
/* ---------------------------------------------------------------- */
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding: 15px;
}
.container {
  position: relative;
  height: 100%;
  background-color: aliceblue;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}
.dragAndZoom {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.root {
  background-color: black;
  color: #FFFFFF;
  width: 240px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: relative;
}
.root .title-vertical-line {
  position: absolute;
  background-color: black;
  top: 100%;
  height: 30px;
  width: 3px;
}
.root .title-vertical-line .title-bottom-horizontal-line {
  position: absolute;
  background-color: black;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
}
.root .title-vertical-line .title-bottom-horizontal-line .level2-vertical-line {
  position: absolute;
  background-color: black;
  top: 0;
  width: 3px;
  height: 30px;
}
.level2 {
  background-color: black;
  color: #FFFFFF;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: default;
  position: absolute;
  top: 100%;
  left: -100px;
}
.level2 .level3-vertical-line {
  position: absolute;
  background-color: black;
  top: 100%;
  left: 10px;
  width: 3px;
}
.level2 .level3-vertical-line .level3-horizontal-line {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 3px;
}
.level3 {
  background-color: black;
  color: #FFFFFF;
  width: 105px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: default;
  position: absolute;
  left: 100%;
  top: -8px;
}
.level3 .level4-vertical-line {
  position: absolute;
  background-color: black;
  top: 100%;
  left: 10px;
  width: 3px;
}
.level3 .level4-vertical-line .level4-horizontal-line {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 3px;
}
.level4 {
  border: 1px solid black;
  background-color: #FFFFFF;
  color: black;
  width: 105px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: default;
  position: absolute;
  left: 100%;
  top: -8px;
}
.level4 .level5-vertical-line {
  position: absolute;
  background-color: black;
  top: 100%;
  left: 10px;
  width: 3px;
}
.level4 .level5-vertical-line .level5-horizontal-line {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 3px;
}
.level5 {
  border: 1px solid black;
  background-color: #FFFFFF;
  color: black;
  width: 105px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: default;
  position: absolute;
  left: 100%;
  top: -8px;
}
.export {
  position: fixed;
  right: -10px;
  top: 20px;
  cursor: default;
  padding-right: 5px !important;
  background: white;
  display: flex;
  justify-content: right;
  width: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.export:hover {
  width: 100px;
  right: 0;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mask img {
  width: 40%;
  border-radius: 50%;
  margin-bottom: 8px;
}
.mask p {
  white-space: nowrap;
}
.compatibility-html2canvas {
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  width: 28px;
  cursor: pointer;
}
/* line工具查询器 */
.line-utils {
  position: absolute;
  background-color: black;
}
/* 节点填充 */
.fill-node {
  background-color: black;
  color: #FFFFFF;
}
.coreless-node {
  border: 1px solid black;
  background-color: #FFFFFF;
  color: black;
}
/* flex布局默认配置 */
.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
/* 元素大小 */
.large {
  width: 240px;
  height: 40px;
}
.medium {
  width: 200px;
  height: 40px;
}
.small {
  width: 105px;
  height: 40px;
}
/* 圆角化 */
.round {
  border-radius: 5px;
}
/* 外边距 */
.margin {
  margin: 5px;
}
/* 指针 */
.cursor-default {
  cursor: default;
}
